#text_input{
	width: 200px;
}

#div_results{
	width: 100%;
	height: 100%; 
}

.stock_symbol{
	width: 200px;
	float: left;
	font-family: arial;
	font-weight: bold;
}

.stock_rss{
	float: left;
	width: 650px;
	font-family: arial; 
	font-weight: bold;
}

.stock_high_price{
	float: left;
	font-family: arial;
	font-weight: bold;
}

.stock_low_price{
	padding-left: 12px;
	float: left;
	font-family: arial;
	font-weight: bold;
}

.stock_row{
	clear: left;
	border: 1px solid black;
	height: 170px;
	background-color: #f6f6f6
}

p{
	font-weight: bold;
	font-family: arial;
	font-size: 14px; 
}

h1{
	background-color: #f6f6f6;
	font-family: arial; 
}

h2{
	background-color: #f3f3f3;
	font-family: arial; 
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}